html, body{
  height:100%;
}

h1, h3 {
  text-align: center; 
}

.text_shadow {
  color: rgb(219, 219, 219);
  font-size: 50px;
  background-color: rgb(252, 252, 252);
  text-shadow: rgb(224, 224, 224) 1px 1px 0px;
}

div.count_wrapperP{
  width:auto; 
  text-align:center;
}

div.count_wrapper a, div.count_wrapper span{
  display:inline-block;
  margin:6px;
}